<!DOCTYPE html>
<html lang='ja'>
<head>
  <meta http-equiv="content-type" content="text/html" charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="./css/splatweetmovie.css" rel="stylesheet">
  <title>SplatweetMovie</title>
</head>
<body>
  <header>
    <h1 id="h1">SplatweetMovie</h1>
  </header>
  <div role="main">
    <p>Tweet list</p>
    <%-tweetlist %>
  </div>
</body>
</html>
